/* Γενικές ρυθμίσεις για το body */
body {
    font-family: Arial, sans-serif;
    color: #ffffff; /* Λευκό κείμενο */
}

/* Στυλ για τα πεδία εισόδου */
input[type="text"],
textarea {
    background-color: #44444400; /* Σκούρο γκρι φόντο */
    color: #ffffff; /* Λευκό κείμενο */
    border: 1px solid #666666; /* Σκούρο γκρι περίγραμμα */
    border-radius: 4px; /* Στρογγυλεμένες γωνίες */
    padding: 10px; /* Εσωτερικό περιθώριο */
    width: calc(100% - 22px); /* Πλάτος πλήρους πλάτους, με padding */
}

/* Στυλ για τα κουμπιά */
.mybutton {
    background-color: #555555; /* Σκούρο γκρι φόντο */
    color: #ffffff; /* Λευκό κείμενο */
    border: none; /* Καμία περίμετρος */
    border-radius: 4px; /* Στρογγυλεμένες γωνίες */
    padding: 10px 15px; /* Εσωτερικό περιθώριο */
    cursor: pointer; /* Δείκτης χεριού */
    transition: background-color 0.3s; /* Ομαλή μετάβαση χρώματος */
}

/* Στυλ για hover στα κουμπιά */
button:hover {
    background-color: #666666; /* Σκούρο γκρι όταν περνά ο δείκτης */
}

/* Στυλ για τα ετικέτες (labels) */
label {
    display: block; /* Κάνει τις ετικέτες μπλοκ στοιχείο */
    margin-bottom: 5px; /* Κενό από κάτω */
    color: #ffffff; /* Λευκό κείμενο */
}

/* Στυλ για διαχωριστές */
hr {
    border: 1px solid #666666; /* Σκούρο γκρι περίγραμμα */
    margin: 20px 0; /* Κενό πάνω και κάτω */
}
